* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #242323;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
nav img {
  width: 12rem;
}
.contenedorPrincipal {
  background-color: rgb(254, 245, 228);
  height: 100%;
}

.banner {
  background-image: url(../img/ind/portada.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  background-color: #24232393;
  background-blend-mode: multiply;
  margin-top: 6rem;
}
.banner .titulos {
  text-align: center;
  color: whitesmoke;

  padding-top: 7rem;
}
.banner .titulos h3 {
  font-size: 2rem;
  font-weight: lighter;
}
.banner .titulos h1 {
  font-size: 5rem;
  font-weight: bold;
  text-decoration: overline 1px solid rgba(245, 245, 245, 0.748);
}
/* --------------------------------- SECCION -------------------------------- */
.seccionIndex {
  text-align: center;
  padding: 1rem;
}
.seccionIndex h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
/* ---------------------------- SECCION NOSOTROS ---------------------------- */
.seccionNosotros img {
  width: 15rem;
}
.textNosotros {
  margin: 2rem;
}
.textNosotros li {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
  list-style: none;
}
.textNosotros li p {
  font-weight: normal;
  text-transform: none;
  font-size: 1.2rem;
}
/* --------------------------------- FOOTER --------------------------------- */
#pie {
  background-color: #242323;
  height: 14rem;
}
.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.footerContent h3 {
  color: whitesmoke;
  font-weight: 600;
}
.footerContent i {
  margin: 2rem;
}
.footerContent i:hover {
  cursor: pointer;
}
.bi-instagram:hover {
  color: #e1306c;
}
.bi-facebook:hover {
  color: #3b5998;
}
.bi-twitter:hover {
  color: #00acee;
}
.dev {
  border-top: 1px solid whitesmoke;
  padding-top: 1rem;
  color: whitesmoke;
  text-align: center;
  font-size: 1.2rem;
}
.dev a {
  color: #ffc559;

  font-weight: bold;
}
.dev a:hover {
  color: #ffa600;
}
/* --------------------------------- SECCION -------------------------------- */
.secciones {
  text-align: center;
  padding-top: 10rem;
}
.secciones h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
/* ---------------------------- SECCION PRODUCTOS --------------------------- */
.seccionProductos {
  padding: 1rem;
}
.articulo {
  margin-bottom: 1.5rem;
}
.articulo p {
  text-align: center;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.imgProd {
  width: 25rem;
  height: 20rem;
  border-radius: 1rem;
  /* border: solid 2px #242323; */
}
.imgProd:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.548);
}
.secciones h3 {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
/* ---------------------------- SECCION SERVICIOS --------------------------- */
.seccionServicios {
  padding: 0.1rem;
}
.figures {
  margin: 2rem;
  background-color: #ffc559;
  border-radius: 5%;
  padding: 1rem;
}
.figures:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.548);
}
.figures .imgServ {
  width: 13rem;
  padding: 1rem;
}
.figures figcaption {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
}
.figures .textServ p {
  text-align: center;
  font-size: 1.3rem;
}
/* --------------------------- SECCION REFERENCIAS -------------------------- */
.seccionReferencias {
  padding: 1rem 3rem;
}
.contenRef {
  margin: 2rem 0rem;
  display: flex;
  background-color: #86cdfc70;
  padding: 1rem;
  border-radius: 0.5rem;
  height: auto;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.212);
}
.imgFaces {
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 3px solid whitesmoke;
}
.textRef h3 {
  text-align: start;
}
.textRef p {
  text-align: start;
  font-size: 1rem;
}
/* ---------------------------- SECCION CONTACTO ---------------------------- */
.seccionContacto {
  padding: 5rem 5rem 25rem 5rem;
  text-align: start;
}
.btn {
  width: 100%;
}

/* -------------------------------- BOOTSTRAP ------------------------------- */
.bg-mnd {
  background-color: #ffc559;
  border-bottom: 1px solid #242323;
}
.nav-link {
  font-weight: bold;
  font-size: 1.3rem;
}

/* // `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... } */

/* ------------------------------ MEDIA QUERIES ----------------------------- */
@media (min-width: 575.98px) {
  /* -- Seccion Referencias -- */
  .seccionReferencias {
    padding: 1rem 5rem;
  }
  .contenRef {
    background-color: #86cdfc70;
  }
  .contenRef:hover {
    transform: scale(1.15);
    background-color: #86cdfc70;
  }
}
@media (min-width: 767.98px) {
  .banner .titulos {
    padding-top: 4rem;
  }
  .banner .titulos h3 {
    font-size: 3.5rem;
  }
  .banner .titulos h1 {
    font-size: 9rem;
  }
  /* -- Seccion Nosotros -- */
  .seccionIndex {
    padding: 5rem 0;
  }
  .seccionIndex h2 {
    font-size: 3rem;
  }
  .seccionNosotros {
    display: flex;
    margin: 3rem 5rem;
  }
  .seccionNosotros img {
    width: 28rem;
  }
  .textNosotros li {
    font-size: 2rem;
  }
  .textNosotros li p {
    font-size: 1.9rem;
    padding: 2rem 0;
  }

  /* -- Seccion Productos -- */
  .seccionProductos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .seccionProductos h3 {
    font-size: 2.5rem;
    padding-top: 5rem;
  }
  .secciones h2 {
    font-size: 3rem;
  }

  /* -- Seccion Servicios -- */
  .seccionServicios {
    padding: 1rem 6rem;
  }
  .figures {
    display: flex;
  }
  .figures figcaption {
    font-size: 2rem;
  }
  .figures .textServ p {
    font-size: 1.5rem;
    padding: 0.1rem 2rem;
  }
  /* -- Seccion Referencias -- */
  .seccionReferencias {
    padding: 1rem 10rem;
  }
  .contenRef {
    background-color: #d7d8d8a9;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.212);
    transition: all 300ms;
    position: relative;
  }
  .contenRef:hover {
    transform: scale(1.15);
    background-color: #86cdfc70;
  }
}
@media (min-width: 991.98px) {
  .banner {
    height: 50vh;
  }
  .banner .titulos {
    padding-top: 8rem;
  }
  .banner .titulos h3 {
    font-size: 5rem;
  }
  .banner .titulos h1 {
    font-size: 10rem;
  }
  /* -- Seccion Nosotros -- */

  .seccionIndex h2 {
    font-size: 3rem;
  }
  .seccionNosotros {
    display: flex;
    margin: 3rem 6rem;
  }
  .seccionNosotros img {
    width: 30rem;
  }
  .textNosotros li {
    font-size: 2rem;
  }
  .textNosotros li p {
    font-size: 1.5rem;
    padding: 2rem 0;
  }
  /* -- Seccion Productos -- */
  .seccionProductos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .secciones h2 {
    font-size: 3rem;
  }
  /* -- Seccion Servicios -- */
  .seccionServicios {
    padding: 1rem 8rem;
    display: flex;
  }
  .figures {
    display: inline;
  }
  /* -- Seccion Referencias -- */
  .seccionReferencias {
    padding: 1rem 20rem;
  }
  .contenRef {
    background-color: #d7d8d8a9;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.212);
    transition: all 300ms;
    position: relative;
  }
  .contenRef:hover {
    transform: scale(1.15);
    background-color: #86cdfc70;
  }
  .textRef p:hover {
    font-size: 1.5rem;
    transition: ease 500ms;
  }
}
@media (min-width: 1199.98px) {
  .banner .titulos {
    padding-top: 10rem;
  }
  .banner .titulos h3 {
    font-size: 3.5rem;
  }
  .banner .titulos h1 {
    font-size: 9rem;
  }

  /* -- Seccion Nosotros -- */
  .seccionIndex {
    padding: 5rem 0;
  }
  .seccionIndex h2 {
    font-size: 3rem;
  }
  .seccionNosotros {
    display: flex;
    margin: 3rem 30rem;
  }
  .seccionNosotros img {
    width: 36rem;
  }
  .textNosotros li {
    font-size: 2rem;
  }
  .textNosotros li p {
    font-size: 1.9rem;
    padding: 2rem 0;
  }
  /* -- Seccion Servicios -- */
  .seccionServicios {
    padding: 1rem 25rem;
    display: flex;
  }
  .figures {
    display: inline;
  }
  /* -- Seccion Referencias -- */
  .seccionReferencias {
    padding: 1rem 30rem;
  }
  .contenRef {
    background-color: #d7d8d8a9;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.212);
    transition: all 300ms;
    position: relative;
  }
  .contenRef:hover {
    transform: scale(1.15);
    background-color: #86cdfc70;
  }
  .textRef p:hover {
    font-size: 1.5rem;
    transition: ease 500ms;
  }
}
