@import "_variables.scss";
.contenedorPrincipal {
    background-color: $color-content;
    height: 100%;
    .banner{
        background-image: url(../img/ind/portada.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 20vh;
        width: 100%;
        background-color: $color-banner;
        background-blend-mode: multiply;
        margin-top: 6rem;
        .titulos {
            text-align: center;
            color: $color-text;
            padding-top: 6rem;
            h1 {
                font-size: 5rem;
                font-weight: bold;
            }
            h2 {
                text-decoration: overline 1px solid $color-overline;
                font-size: 2rem;
                font-weight: lighter;
            }
        }
    }
}