@import "_variables.scss";
#pie {
    background-color: $color-secundary;
    height: 14rem;
    .footerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        h3 {
            color: $color-text;
            font-weight: 600;
        }
        i {
            margin: 2rem;
            &:hover {
                cursor: pointer;
            }
        }
        .bi-instagram{
            @include redesSociales($color-insta)
        }
        .bi-facebook{
            @include redesSociales($color-face)
        }
        .bi-twitter{
            @include redesSociales($color-twitter)
        }
    }
    .dev{
        border-top: 1px solid $color-text;
        padding-top: 1rem;
        color: $color-text;
        text-align: center;
        font-size: 1.2rem;
        a {
            color: $color-primary;
            font-weight: bold;
            &:hover {
                color: $color-text2;
            }
        }
    }
}