@import "_variables.scss";
.seccionReferencias {
    padding: 1rem 3rem;
    .contenRef {
        margin: 2rem 0rem;
        display: flex;
        background-color: $color-ref1;
        padding: 1rem;
        border-radius: 0.5rem;
        height: auto;
        box-shadow: map-get($map: $shadow, $key:"sh2");
        .imgFaces {
            margin-right: 1rem;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            border: 3px solid $color-text;
        }
        .textRef{
            h4{
                text-align: start;
                font-weight: bold
            }
            p {
                text-align: start;
                font-size: 1.3rem;
            }
        }
    }
}