.seccionIndex{
    text-align: center;
    padding: 1rem;
    h3 {
        @include tituloSecc(2rem, bold, uppercase);
    }
    .seccionNosotros{
        img {
            width: 15rem;
        }
        .textNosotros{
            margin: 2rem;
            li {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 1.3rem;
                list-style: none;
                p {
                    font-weight: normal;
                    text-transform: none;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
