@import "_variables.scss";
.seccionProductos {
    padding: 1rem;
    .articulo {
        margin-bottom: 1.5rem;
        p {
            @extend .subtitleProductos;
        }
        .imgProd {
            width: 25rem;
            height: 20rem;
            border-radius: 1rem;
            &:hover {
                box-shadow:map-get($map: $shadow, $key: "sh1");
            }
        }
    }
    .subtitleProductos {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: initial;
    }
}