$color-primary: #ffc559;
$color-secundary:#242323;

$color-text:whitesmoke;
$color-text2:#ffa600;


$color-overline:rgba(245, 245, 245, 0.748);
$color-banner:#24232393;

$color-content:rgb(254, 245, 228);

$color-insta:#e1306c;
$color-face:#3b5998;
$color-twitter:#00acee;

$color-boxShadow1:rgba(0, 0, 0, 0.548);
$color-boxShadow2:rgba(0, 0, 0, 0.212);

$color-ref1:#86cdfc70;
$color-ref2:#d7d8d8a9;;